/* ROOT */

:root {
    font-size: 62.5%;
    --blue-color: #0061ff;
    --skyblue-color: #b4d0e7;
    --violet-color: #60082b;
    --black-color: #000000;
    --grey-color: #999a9b;
    --green-color: #a2d39b;
    --lightgrey-color: #f5f5f5;
    --cyan-color: #0093ce;
    --red-color: #ff1c1c;
    --yellow-color: #ffd830;
    --darkred-color: #d5001f;
    --darkblue-color: #0d2481;
    --white-color: #ffffff;
    --square-measure: calc(100% / 3);
}

/* RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

h1 {
    font-size: 7rem;
    font-weight: 800;
    margin-bottom: 40px;
}

h2 {
    font-size: 4rem;
}

/* UTILITY */

.flex {
    display: flex;
}

.container-maxw-1180 {
    width: 80%;
    max-width: 1180px;
    margin: 0 auto;
}

.container-maxw-1100 {
    width: 70%;
    max-width: 1100px;
    margin: 0 auto;
}

.w-100pct {
    width: 100%;
}

.m-t-170 {
    margin-top: 170px;
}

.p-t-50 {
    padding-top: 50px;
}

.p-b-50 {
    padding-bottom: 50px;
}

.m-b-30 {
    margin-bottom: 30px;
}

.m-l-10 {
    margin-left: 10px;
}

.m-b-50 {
    margin-bottom: 50px;
}

.p-t-80 {
    padding-top: 80px;
}

.col {
    width: calc(100% / 3 - 16px);
    margin: 20px 0;
    border: solid 1px var(--grey-color);
    background-color: var(--white-color);
}

.no-border {
    border: 0px;
}

.container-60pct {
    width: 60%;
    /* debug */
    /* background-color: blue; */
}

.container-40pct {
    width: 40%;
    /* debug */
    /* background-color: green; */
}

.container-70pct {
    width: 70%;
}

.container-30pct {
    width: 30%;
}

.button {
    background-color: var(--blue-color);
    color: var(--white-color);
    border: 0px;
    padding: 0.625em 1.25em;
    font-size: 1.8rem;
    cursor: pointer;
}

/* HEADER */

header {
    width: 100%;
    justify-content: space-between;
}

.h-navbar {
    align-items: center;
    padding: 1.5625em 0;
}

.h-navbar a {
    text-decoration: none;
    color: var(--black-color);
}

.anchor-items {
    gap: 30px;
}

.right-nav {
    justify-content: end;
}

.external-item {
    margin: auto 35px auto 20px;
}

/* HERO */

.hero {
    background-color: var(--skyblue-color);
}

.hero-description {
    width: 30%;
}

.hero-description p {
    line-height: 2.5rem;
}

.fa-arrow-down {
    font-size: 5rem;
}

.hero-jumbo-container {
    width: 70%;
    position: relative;
}

.hero-jumbo {
    position: absolute;
    top: 10px;
    left: 0;
}


/* MAIN */

/* business-plan */

.head-bp {
    width: 100%;
}

input[type="radio"] {
    box-shadow: 0 0 0 2px var(--grey-color);
    border: 8px solid #FFF;
    vertical-align: middle;
}

input[type="radio"]:checked {
    appearance: none;
    -webkit-appearance: none;
    border-radius: 50%;
    border: 5px solid #FFF;
    box-shadow: 0 0 0 5px var(--blue-color);
}

.main-bp {
    width: 100%;
    justify-content: space-between;
}

.h-card {
    padding: 10px;
    align-items: center;
    justify-content: center;
    border-bottom: solid 1px var(--grey-color);
}

.mf-card {
    padding: 40px;
}

.plan-name {
    font-size: 3rem;
    padding-bottom: 20px;
}

.plan-price {
    padding-bottom: 15px;
}

.plan-validity {
    color: var(--grey-color);
}

.plan-desc {
    padding: 40px 0;
    flex-direction: column;
}

.plan-desc li {
    padding: 15px;
}

hr {
    margin: 40px 0;
    width: 20%;
    border: solid 1px var(--grey-color);
}

.fa-check {
    color: var(--blue-color);
}


.foot-bp {
    width: 100%;
}

.foot-col {
    width: 100%;
}

/* partnership */

.partnership {
    /* debug */
    /* background-color: red; */
    /* height: 450px;
    border: solid 1px black; */
    /* margin-top: 100px; */
}

.part-desc {
    flex-direction: column;
    padding: 50px;
    gap: 30px;
    line-height: 3rem;
}

.light-btn {
    background-color: var(--white-color);
    color: var(--black-color);
    border: solid 1px var(--black-color);
    width: 55%;
}

/* task */

.task-cards {
    flex-wrap: wrap;
    justify-content: space-between;
}

.task-cards h2 {
    font-size: 3rem;
}

.task-cards p {
    line-height: 2.5rem;
}

/* partnership gallery */

.partnership-gallery{
    background-color: var(--skyblue-color);
}

.g-image {
    width: var(--square-measure);
    flex-wrap: wrap;
}

.row {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    aspect-ratio: 1/1;
}

.right .logos:nth-child(1) {
    background-color: var(--green-color);
}

.right .logos:nth-child(2) {
    background-color: var(--violet-color);
}

.right .logos:nth-child(3) {
    background-color: var(--cyan-color);
}

.right .logos:nth-child(4) {
    background-color: var(--red-color);
}

.left .logos:nth-child(1) {
    background-color: var(--darkred-color);
}
.left .logos:nth-child(2) {
    background-color: var(--skyblue-color);
}

.left .logos:nth-child(3) {
    background-color: var(--darkblue-color);
}

.left .logos:nth-child(4) {
    background-color: var(--yellow-color);
}


.designit-center {
    width: 50%;
}


.center {
    width: 100%;
    background-color: var(--lightgrey-color);
    flex-direction: column;
    align-items: start;
    justify-content: start;
    line-height: 3rem;
    overflow-y: auto;
}

.container-free-trial{
    width: 50%;
    align-items: center;
    justify-content: center;
    padding-top: 150px;
    padding-bottom: 150px;
}

/* faq */

.faq {
    /* margin-top: 100px; */
    /* debug */
    height: 450px;
    background-color: purple;
}

/* FOOTER */

footer {
    width: 100%;
    /* debug */
    /* margin-top: 100px; */
    padding: 30px;
    background-color: black;
}

.foot-nav {
    /* debug */
    background-color: brown;
    height: 300px;
}