/* ROOT */

:root {
    font-size: 62.5%;
    --blue-color: #0061ff;
    --skyblue-color: #b4d0e7;
    --violet-color: #60082b;
    --black-color: #000000;
    --grey-color: #999a9b;
    --green-color: #a2d39b;
    --lightgrey-color: #f5f5f5;
    --cyan-color: #0093ce;
    --red-color: #ff1c1c;
    --yellow-color: #ffd830;
    --darkred-color: #d5001f;
    --darkblue-color: #0d2481;
    --white-color: #ffffff;
    --square-measure: calc(100% / 3);
}

/* RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: var(--black-color);
}

hr {
    margin: 40px 0;
    width: 20%;
    border: solid 1px var(--grey-color);
}

ul {
    list-style-type: none;
}

h1 {
    font-size: 7.5rem;
    font-weight: bold;
    margin-bottom: 40px;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

/* UTILITY */

/* container and display */

.container-maxw-1180 {
    width: 80%;
    max-width: 1180px;
    margin: 0 auto;
}

.container-maxw-1100 {
    width: 70%;
    max-width: 1100px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.f-wrap {
    flex-wrap: wrap;
}

.gap-30 {
    gap: 1.875em;
}

.spc-btw {
    justify-content: space-between;
}

/* common measures */


.m-t-170 {
    margin-top: 170px;
}

.m-b-50 {
    margin-bottom: 50px;
}

.m-b-30 {
    margin-bottom: 30px;
}

.m-l-10 {
    margin-left: 10px;
}

.p-b-50 {
    padding-bottom: 50px;
}

.l-h-25 {
    line-height: 2.5rem;
}

/* cards */

.col {
    width: calc(100% / 3 - 16px);
    margin: 20px 0;
    border: solid 1px var(--grey-color);
}

.no-border {
    border: 0px;
}

/* container */

.container-70pct {
    width: 70%;
}

.container-60pct {
    width: 60%;
}

.container-40pct {
    width: 40%;
}

.container-30pct {
    width: 30%;
}

/* button */

.button {
    background-color: var(--blue-color);
    color: var(--white-color);
    border: 0px;
    line-height: 40px;
    padding: 0 0.9375em;
    font-size: 1.6rem;
    cursor: pointer;
}

.button:hover {
    background-color: rgba(0, 97, 255, 0.7);
}

.light-btn {
    background-color: var(--white-color);
    color: var(--black-color);
    border: solid 1px var(--black-color);
    width: 55%;
}

.light-btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/* HEADER */

header {
    position: fixed;
    z-index: 9999;
    background-color: var(--white-color);
    box-shadow: 0px 0.1px 10px var(--black-color);
}

.h-navbar {
    align-items: center;
    padding: 1.5625em 1.875em;
}

/* HERO */

.hero {
    background-color: var(--skyblue-color);
    padding-top: 170px;
}

.fa-arrow-down {
    font-size: 5rem;
}

.rel-jumbo-container {
    width: 70%;
    position: relative;
}

.abs-jumbo-container {
    position: absolute;
    top: 10px;
    left: 0;
}


/* MAIN */

/* business-plan */

input[type="radio"] {
    display: none;
}

label {
    display: inline-flex;
}

label:before {
    content: '';
    margin-right: 10px;
    display: inline-flex;
    width: 1em;
    height: 1em;
    border: solid 1px black;
    border-radius: 50%;
}

input[type="radio"]:checked+label:before {
    border: solid 3px var(--blue-color);
    width: 0.9em;
    height: 0.9em;
}

.h-card {
    padding: 0.625em;
    justify-content: center;
    border-bottom: solid 1px var(--grey-color);
}

.main-card {
    padding: 40px;
}

.plan-validity {
    color: var(--grey-color);
}

.plan-desc {
    padding: 40px 0;
    flex-direction: column;
}

.plan-desc li {
    padding: 15px;
}

.fa-check {
    color: var(--blue-color);
}

/* partnership */

.part-desc {
    flex-direction: column;
    padding: 50px;
}

/* CTA */

.cta {
    background-color: var(--skyblue-color);
}

.cta-image {
    width: var(--square-measure);
    flex-wrap: wrap;
}

.logos:nth-child():hover {
    transition: border-color;
}

.logos:hover {
    border: solid 25px rgba(0, 0, 0, 0.15)
}

.row {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    aspect-ratio: 1/1;
}

.right .logos:nth-child(1) {
    background-color: var(--green-color);
}

.right .logos:nth-child(2) {
    background-color: var(--violet-color);
}

.right .logos:nth-child(3) {
    background-color: var(--cyan-color);
}

.right .logos:nth-child(4) {
    background-color: var(--red-color);
}

.left .logos:nth-child(1) {
    background-color: var(--darkred-color);
}

.left .logos:nth-child(2) {
    background-color: var(--skyblue-color);
}

.left .logos:nth-child(3) {
    background-color: var(--darkblue-color);
}

.left .logos:nth-child(4) {
    background-color: var(--yellow-color);
}

.center {
    background-color: var(--lightgrey-color);
    flex-direction: column;
    align-items: start;
    justify-content: start;
    overflow-y: auto;
}

.container-free-trial {
    align-items: center;
    justify-content: center;
    padding-top: 150px;
    padding-bottom: 150px;
    color: var(--violet-color);
}

/* FAQ */

.list-item {
    padding: 25px 0;
    border-top: solid 1px var(--grey-color);
}

.item {
    padding: 15px;
}

.list-item .item:first-child {
    font-size: 2rem;
    font-weight: 600;
}

.list-item:last-child {
    border-bottom: solid 1px var(--grey-color);
}

.list-item .item:last-child {
    height: 0;
    transition: height 0.5s linear;
}

.list-item .item:last-child p {
    opacity: 0;
    transition: opacity 1s linear;
}

.list-item:hover .item:last-child {
    height: 50px;
}

.list-item:hover .item:last-child p {
    opacity: 1;
}


/* FOOTER */

footer {
    width: 100%;
    /* debug */
    /* margin-top: 100px; */
    padding: 30px;
    background-color: black;
}


.column {
    width: calc(100% / 5);
}

.column ul li {
    line-height: 3.5rem;
}

.column ul li a,
.column h3 {
    color: var(--white-color);
    text-decoration: none;
}

.language {
    color: var(--white-color);
    gap: 10px;
}

/* DEGUB */

.w-100pct {
    width: 100%;
}

.w-50pct {
    width: 50%;
}